/* CUSTOM CHECKBOX */
.p-checkbox-box {
    background-color: var(--c-t-variant4) !important;
    border: 2px solid transparent !important;
    transition: all .2s 0s ease-in-out !important;
}

.p-checkbox:not(.p-disabled):has(.p-checkbox-input:hover) .p-checkbox-box {
    border: 2px solid var(--c-accent-variant2) !important;
}

.p-checkbox-checked .p-checkbox-box {
    background-color: var(--c-accent) !important;
    border: 2px solid transparent !important;
}

.p-checkbox-checked:not(.p-disabled):has(.p-checkbox-input:hover) .p-checkbox-box {
    border: 0 !important;
    background-color: var(--c-accent-variant) !important;
}

.p-checkbox:not(.p-disabled):has(.p-checkbox-input:focus-visible) .p-checkbox-box {
    outline-color: var(--c-accent) !important;
}

/* CUSTOM SLIDER */
.p-slider-range {
    background-color: var(--c-accent) !important;
    border-radius: 3px !important;
}

.p-slider-handle:focus-visible {
    outline: 0 !important;
}

/* CUSTOM COLOR PICKER */
.p-colorpicker-preview:enabled:focus-visible {
    outline: none !important;
    border: 0 !important;
}

.p-colorpicker {
    border: 0 !important;
    border-radius: 8px !important;
    transition: all .2s 0s ease-in-out;

    &:hover {
        opacity: .6 !important;
        box-shadow: 0 0 10px 0 var(--c-accent-variant2);
    }
}

/* CUSTOM INPUT TEXT */
.p-inputtext:enabled:focus {
    border-color: var(--c-accent) !important;
}