@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

@import '../assets/variables.less';
@import '../assets/custom-theme.less';

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: var(--c-t);
}

::-webkit-scrollbar-thumb {
    background-color: var(--c-accent);
    border-radius: 20px;
}

:root {
    --c-accent: @c-accent;
    --c-accent-variant1: fade(@c-accent, 90%);
    --c-accent-variant2: fade(@c-accent, 70%);
    --c-s: @c-s;
    --c-s-variant1: fade(@c-s, 15%);
    --c-s-variant2: fade(@c-s, 50%);
    --c-t: @c-t,;
    --c-t-variant1: lighten(@c-t, 6%);
    --c-t-variant2: fade(@c-t, 80%);
    --c-t-variant3: fade(lighten(@c-t, 11%), 90%);
    --c-t-variant4: lighten(@c-t, 5%);
    --c-t-variant5: darken(@c-t, 5%);
}

html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--c-t-variant1);
    color: var(--c-s);
    user-select: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "SUSE", sans-serif;
    border-radius: @r-border;
    border-width: 3px; 
    border-style: solid;    
    animation: borderMove 12s 0s infinite alternate-reverse;
    -webkit-app-region: drag;

    @keyframes borderMove {
        0% {
          border-image: linear-gradient(to bottom right, var(--c-accent), transparent 65%) 1;
        }
        25% {
          border-image: linear-gradient(to right, var(--c-accent), transparent 80%) 1;
        }
        50% {
          border-image: linear-gradient(to top right, var(--c-accent), transparent 80%) 1;
        }
        75% {
          border-image: linear-gradient(to top left, var(--c-accent), transparent 80%) 1;
        }
        100% {
          border-image: linear-gradient(to bottom left, var(--c-accent), transparent 65%) 1;
        } 
    } 

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
    }

    p {
        margin: 0;
        padding: 0;
    }

    a, input, .input, button, .p-colorpicker-panel {
        -webkit-app-region: no-drag;
    }

    button {
        border: none;
        padding: 10px;
        background-color: var(--c-t-variant2);
        cursor: pointer;

        &:focus-visible {
            outline: none;
        }
    }

    .container {
        display: flex;
        gap: 25px;
        height: 100vh;
        width: 100vw;
        padding: 25px;
        padding-right: 12px;
        background-color: var(--c-t-variant1);
        border-radius: @r-border;

        .horizontal-separator {
            width: 100%;
            min-height: 2px;
            background-color: var(--c-s-variant1);
            border-radius: 2px;
            opacity: .8;
        }

        .categories, .settings {
            display: flex;
            flex-direction: column;
            gap: 15px;
            min-width: @w-menu;
            width: @w-menu;
            height: 100%; 
            background-color: var(--c-t-variant2);
            border-radius: @r-border;
            padding: 15px;
            overflow-y: auto;
            overflow-x: hidden;
            transition: width .2s 0s ease-in-out, min-width .2s 0s ease-in-out;

            @media @mobile {
                min-width: @w-menu-small;
                width: @w-menu-small;
            }

            h1 {
                width: 100%;
                text-align: center;
            }

            
            .setting-title {
                display: block;
                
                @media @mobile {
                    display: none;
                }
            }
            
            .setting-page-icon {
                display: none;
                align-items: center;
                justify-content: center;
                transition: all .3s 0s ease-in-out;

                @media @mobile {
                    display: flex;
                }

                svg {
                    width: 40px;
                    height: 40px;
                }

            }
            
            .attach {
                border-radius: @r-border;
                background-color: var(--c-accent);
                padding: 10px 5px;
                transition: background-color .2s 0s ease-in-out; 
                color: @c-s;

                &:hover {
                    background-color: var(--c-accent-variant2);
                }

                .icon {
                    display: none;
                    justify-content: center;
                    align-items: center;
                    
                    @media @mobile {
                        display: flex;
                    }

                    svg {
                        fill: var(--c-s);
                    }
                }

                span {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.5em;
                    color: var(--c-s);

                    @media @mobile {
                        display: none;
                    }
                }

            }

            .category, .setting {
                width: 100%;
                height: 60px;
                padding: 13px 5px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;
                border-radius: @r-border;
                cursor: pointer;
                transition: background-color .2s 0s ease-in-out;
                -webkit-app-region: no-drag;

                &:hover {
                    background-color: var(--c-t-variant4);
                }

                .active-bar {
                    opacity: 0;
                    background-color: var(--c-accent);
                    height: 100%;
                    min-width: 2px;
                    width: 2px;
                    border-radius: 2px;
                    transition: opacity .2s 0.1s ease-in-out;
                }
                
                span {
                    color: var(--c-s-variant2);
                    transition: color .2s 0s ease-in-out;
                }

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 2px;
                    opacity: .6;
                    transition: opacity .2s 0s ease-in-out;
                }

                &.active {
                    color: var(--c-s);
                    background-color: var(--c-t-variant3);

                    .active-bar {
                        opacity: 1;
                    }

                    span {
                        color: var(--c-s); 
                    }

                    .icon {
                        opacity: 1;
                    }

                }

                
                @media @mobile {
                    span {
                        display: none;
                    }
                }

            }
        }

        .view {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            padding-right: 13px;

            .header {
                display: flex;
                justify-content: space-between;

                .metadata {
                    padding-top: 2px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    width: 70%;

                    .description {
                        opacity: .7;
                    }
                }

                .extra {
                    display: flex;
                    justify-content: flex-end;
                    gap: 10px;

                    .avatar {
                        margin: 5px;
                        border-radius: 50%;
                        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.243);
                        width: 70px; 
                        height: 70px;
                        overflow: hidden;
                        position: relative;
                        cursor: pointer;
                        -webkit-app-region: no-drag;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        .settings-icon {
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 100%;
                            z-index: 2;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: rgba(0, 0, 0, 0.4);
                            backdrop-filter: blur(2px);
                            opacity: 0;
                            transition: all .3s 0s ease-in-out;

                            svg {
                                width: 60%;
                                height: 60%;
                                position: relative;
                                stroke: var(--c-accent);
                            }
                        }

                                                
                        &:hover {
                            .settings-icon {
                                opacity: 1;
                            }
                        }

                    }
                }
            }

            .options {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 20px 0;
                -webkit-app-region: no-drag;

                .option {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;                    
                    flex-direction: column;
                    gap: 15px; 
                    background-color: var(--c-t-variant2);
                    border-radius: @r-border;
                    padding: 15px;
                    -webkit-app-region: no-drag;
                    
                    &.noavaiable {
                        opacity: .6;
                    }

                    // .separator-container {
                    //     display: flex;
                    //     justify-content: center;
                    //     align-items: center;
                    //     width: 100%;

                    //     .horizontal-separator {
                    //         width: 90%;
                    //     }
                    // }

                    .toggle, .run {
                        display: flex;
                        gap: 10px; 
                        height: 100%;
                    }

                    .run {
                        width: 100%;
                        align-items: center;
                        justify-content: space-between;

                        .execute {
                            background-color: var(--c-t-variant3);
                            border-radius: @r-border;
                            padding: 9px 15px;
                            border: 2px solid transparent;
                            color: var(--c-s);
                            transition: border .2s 0s ease-in-out;

                            &:hover {
                                border: 2px solid var(--c-accent-variant2) !important;
                            }
                        }
                    }

                    .components {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        width: 100%;

                        .component {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            .input.slider {
                                width: 100%;
                            } 

                            .listener-component {
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                                color: var(--c-s);

                                button {
                                    background-color: var(--c-t-variant3);
                                    padding: 10px 25px; 
                                    border-radius: @r-border;
                                    color: var(--c-s);
                                }
                            }

                            .text-component {
                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                                
                                input {
                                    color: var(--c-s);
                                }
                            }
                            
                            .toggle-component {
                                display: flex;
                                gap: 10px;
                                color: var(--c-s);
                            }

                            .slider-component {
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                            }
                        }
                    }
                }
                
            }
        }

        .settings-view {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            gap: 20px;
            padding-right: 13px;

            .top-header {
                @button-size: @h-settings-topbar - 20px; 
                
                width: 100%;
                height: @h-settings-topbar;
                background-color: var(--c-t-variant2);
                border-radius: @r-border;
                padding: 10px; 
                display: flex;
                justify-content: space-between;
                top: 0;
                position: sticky;
                backdrop-filter: blur(10px);
                z-index: 999;
                
                .back {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    width: @button-size;
                    height: @button-size;
                    border-radius: @r-border;
                    transition: background-color .2s 0s ease-in-out;
                    -webkit-app-region: no-drag;
                    
                    &:hover {
                        background-color: var(--c-t-variant3);
                    }
                }
                
                .window-options {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    -webkit-app-region: no-drag;
                    
                    >div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        width: @button-size;
                        height: @button-size;
                        border-radius: @r-border;
                        transition: background-color .2s 0s ease-in-out;
                        -webkit-app-region: no-drag;
                        
                        &:hover {
                            background-color: var(--c-t-variant3);
                        }                
                    }
                }
            }

            .settings-options {
                display: grid;
                grid-template-columns: repeat(2, 1fr); 
                gap: 10px; 
                
                @media @tablet{ 
                    grid-template-columns: 1fr;
                }

                .settings-option {
                    width: 100%;
                    background-color: var(--c-t-variant2);
                    padding: 15px;
                    border-radius: @r-border;
                    -webkit-app-region: no-drag;
                    overflow: hidden;
                    display: flex;
                    align-items: center;

                    &:has(.button-component) {
                        padding: 0;
                    }

                    >div {
                        width: 100%;
                    }

                    .button-component {
                        width: 100%;
                        height: 100%;
                        background-color: var(--c-t-variant5);
                        color: var(--c-s);
                        transition: background-color .2s 0s ease-in-out;

                        &:hover {
                            background-color: var(--c-t-variant3);
                        }
                    }

                    .colorpicker-component {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                    .text-component {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        
                        input {
                            color: var(--c-s);
                        }
                    }

                    .slider-component {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                    }
                }
            }
        }
    }

}




