body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #1d1d29;
    color: white;
    user-select: none;
    min-height: 100vh;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        a {
            padding: 10px;
            background-color: rgb(54, 34, 100);
        }
    }
}
