@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

@import '../assets/variables.less';
@import '../assets/custom-theme.less';

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: @c-t;
}

::-webkit-scrollbar-thumb {
    background-color: @c-accent;
    border-radius: 20px;
}

html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: @c-t-variant;
    color: white;
    user-select: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "SUSE", sans-serif;
    border-radius: @r-border;
    border-width: 3px; 
    border-style: solid;    
    animation: borderMove 12s 0s infinite alternate-reverse;
    -webkit-user-select: none;
    -webkit-app-region: drag;

    @keyframes borderMove {
        0% {
          border-image: linear-gradient(to bottom right, @c-accent, transparent 65%) 1;
        }
        25% {
          border-image: linear-gradient(to right, @c-accent, transparent 80%) 1;
        }
        50% {
          border-image: linear-gradient(to top right, @c-accent, transparent 80%) 1;
        }
        75% {
          border-image: linear-gradient(to top left, @c-accent, transparent 80%) 1;
        }
        100% {
          border-image: linear-gradient(to bottom left, @c-accent, transparent 65%) 1;
        } 
    } 

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
    }

    p {
        margin: 0;
        padding: 0;
    }

    a, input, .input, button, .p-colorpicker-panel {
        -webkit-user-select: auto;
        -webkit-app-region: no-drag;
    }

    button {
        border: none;
        padding: 10px;
        background-color: fade(@c-t, 80%);
        cursor: pointer;
    }

    .container {
        display: flex;
        gap: 25px;
        height: 100vh;
        width: 100vw;
        padding: 25px;
        background-color: @c-t-variant;
        border-radius: @r-border;

        .categories, .settings {
            display: flex;
            flex-direction: column;
            gap: 15px;
            min-width: @w-menu;
            width: @w-menu;
            height: 100%; 
            background-color: @c-t;
            border-radius: @r-border;
            padding: 15px;
            overflow-y: auto;
            overflow-x: hidden;
            -webkit-app-region: no-drag;
            transition: all .2s 0s ease-in-out;

            @media @mobile {
                min-width: @w-menu-small;
                width: @w-menu-small;
            }

            h1 {
                width: 100%;
                text-align: center;
            }

            
            .setting-title {
                display: block;
                
                @media @mobile {
                    display: none;
                }
            }
            
            .setting-page-icon {
                display: none;
                align-items: center;
                justify-content: center;
                transition: all .3s 0s ease-in-out;

                @media @mobile {
                    display: flex;
                }

                svg {
                    width: 40px;
                    height: 40px;
                }

            }
            
            .attach {
                border-radius: @r-border;
                background-color: @c-accent;
                padding: 10px 5px;
                transition: all .2s 0s ease-in-out; 

                &:hover {
                    background-color: fade(@c-accent, 70%);
                }

                .icon {
                    display: none;
                    justify-content: center;
                    align-items: center;
                    
                    @media @mobile {
                        display: flex;
                    }
                }

                span {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.5em;

                    @media @mobile {
                        display: none;
                    }
                }

            }

            .horizontal-separator {
                width: 100%;
                height: 2px;
                background-color: fade(@c-s, 15%);
                border-radius: 2px;
            }

            .category, .setting {
                width: 100%;
                height: 50px;
                padding: 9px 6px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;
                border-radius: @r-border;
                cursor: pointer;
                transition: all .2s 0s ease-in-out;
                -webkit-user-select: auto;
                -webkit-app-region: no-drag;

                &:hover {
                    background-color: lighten(@c-t, 5%);
                }

                .active-bar {
                    opacity: 0;
                    background-color: @c-accent;
                    height: 100%;
                    min-width: 2px;
                    width: 2px;
                    border-radius: 2px;
                    transition: all .2s 0.1s ease-in-out;
                }
                
                span {
                    color: fade(@c-s, 50%);
                    transition: all .2s 0s ease-in-out;
                }

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 2px;
                    opacity: .6;
                    transition: all .2s 0s ease-in-out;
                }

                &.active {
                    color: @c-s;
                    background-color: fade(lighten(@c-t, 13%), 90%);

                    .active-bar {
                        opacity: 1;
                    }

                    span {
                        color: @c-s; 
                    }

                    .icon {
                        opacity: 1;
                    }

                }

                
                @media @mobile {
                    span {
                        display: none;
                    }
                }

            }
        }

        .view {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            overflow-y: auto;

            .header {
                display: flex;
                justify-content: space-between;

                .metadata {
                    padding-top: 2px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    width: 70%;

                    .description {
                        opacity: .7;
                    }
                }

                .extra {
                    display: flex;
                    justify-content: flex-end;
                    gap: 10px;

                    .avatar {
                        margin: 5px;
                        border-radius: 50%;
                        border: 2px solid fade(lighten(@c-t, 13%), 90%);
                        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.243);
                        width: 70px; 
                        height: 70px;
                        overflow: hidden;
                        position: relative;
                        cursor: pointer;
                        -webkit-user-select: auto;
                        -webkit-app-region: no-drag;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        .settings-icon {
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 100%;
                            z-index: 2;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: rgba(0, 0, 0, 0.4);
                            backdrop-filter: blur(2px);
                            opacity: 0;
                            transition: all .3s 0s ease-in-out;

                            svg {
                                width: 60%;
                                height: 60%;
                                position: relative;
                                stroke: @c-accent;
                            }
                        }

                                                
                        &:hover {
                            .settings-icon {
                                opacity: 1;
                            }
                        }

                    }
                }
            }

            .options {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 20px 0;
                -webkit-app-region: no-drag;

                .option {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;                    
                    flex-direction: column;
                    gap: 20px; 
                    background-color: fade(@c-t, 80%);
                    border-radius: @r-border;
                    padding: 15px;
                    -webkit-user-select: auto;
                    -webkit-app-region: no-drag;

                    .toggle, .run {
                        display: flex;
                        gap: 10px; 
                        height: 100%;
                    }

                    .run {
                        width: 100%;
                        align-items: center;
                        justify-content: space-between;

                        .execute {
                            background-color: fade(lighten(@c-t, 13%), 90%);
                            border-radius: @r-border;
                            padding: 9px 15px;
                            border: 2px solid transparent;
                            transition: all .2s 0s ease-in-out;

                            &:hover {
                                border: 2px solid fade(@c-accent, 70%) !important;
                            }
                        }
                    }

                    .components {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        width: 100%;

                        .component {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            .input.slider {
                                width: 100%;
                            } 

                            .toggle-component {
                                display: flex;
                                gap: 10px;
                            }

                            .slider-component {
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                            }
                        }
                    }
                }
                
            }
        }

        .settings-view {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            gap: 20px;

            .top-header {
                @button-size: @h-settings-topbar - 20px; 
                
                width: 100%;
                height: @h-settings-topbar;
                background-color: fade(@c-t, 80%);
                border-radius: @r-border;
                padding: 10px; 
                display: flex;
                justify-content: space-between;
                
                .back {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    width: @button-size;
                    height: @button-size;
                    border-radius: @r-border;
                    transition: all .2s 0s ease-in-out;
                    -webkit-app-region: no-drag;
                    
                    &:hover {
                        background-color: fade(lighten(@c-t, 13%), 90%);
                    }
                }
                
                .window-options {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    -webkit-app-region: no-drag;
                    
                    >div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        width: @button-size;
                        height: @button-size;
                        border-radius: @r-border;
                        transition: all .2s 0s ease-in-out;
                        -webkit-app-region: no-drag;
                        
                        &:hover {
                            background-color: fade(lighten(@c-t, 13%), 90%);
                        }                
                    }
                }
            }

            .settings-options {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                .settings-option {
                    width: 49%;
                    background-color: fade(@c-t, 80%);
                    padding: 15px;
                    border-radius: @r-border;

                    .colorpicker-component {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
            }
        }
    }

}




